db.sqlite3
media/
*.pyc
#docker-compose.yml
#docker-compose.yaml
#Dockerfile
db.sqlite3
data/
#requirements.txt
settings
**/files/**
!**/files

**/photos/**
!**/photos


/media_root/photos/*
!/media_root/photos/*.init

/media_root/called_images/*
!/media_root/called_images/*.init

/media_root/daily_images/*
!/media_root/daily_images/*.init

.env

